<nav class="navbar is-primary has-shadow is-spaced">
    <div class="navbar brand">
        <img src="https://i.imgur.com/mORFlBy.png" width="120px" height="120px">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item button is-primary is-outlined is-large" href="/tweets">Home</a>
            <a class="navbar-item button is-primary is-large" href="/tweets/new">New Tweet</a>
        </div>
    </div>
</nav>