<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs');  %>
    <title>Tweeter</title>
</head>
<body>
    <%- include('./partials/nav.ejs');  %>
    <form>
        

    </form>
</body>
</html>