<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs');  %>
    <title>Tweeter</title>
</head>
<body>
    <%- include('./partials/nav.ejs');  %>
    <div class="columns is-centered">
        <div class="card column is-two-thirds my-card-class">
            <header class="card-header is-centered">
                Tweet Title
            </header>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit possimus quae aut dolor est deserunt explicabo cumque, inventore in nesciunt reiciendis omnis quod, ad veritatis voluptas magnam rerum voluptatem?
                </div>
            </div>
            <footer class="card-footer">
                <div class="columns">
                    <div class="column">
                        <a href="#" class="card-footer-item button is-primary is-focused is-one-fifth">Edit</a>
                    </div>
                    <div class="column">
                        <a href="#" class="card-footer-item button is-danger">Delete</a>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    </div>

</body>
</html>